.chatform{
  width: 380px;
  position: absolute;
    right: 10px;
    bottom:10px;
}

.showhide{
  width: 380px;
  position: absolute;
    right: 10px;
    bottom:10px;
}

ul {
  padding-inline-start: 0px !important;
  list-style-type: none;
 display: inline-flex;
}

